:root {
  --shade-100: #f8f9fa;
  --shade-200: #e9ecef;
  --shade-300: #dee2e6;
  --shade-400: #ced4da;
  --shade-500: #adb5bd;
  --shade-600: #6c757d;
  --shade-700: #495057;
  --shade-800: #343a40;
  --shade-900: #212529;
  --text-link-normal-100: #0000ee;
  --text-link-visited-100: #551a8b;
  --text-link-active-100: #ee0000;
  --text-heading-100: #212529;
  --text-heading-200: #343a40;
  --text-p-100: #212529;
  --text-p-200: #343a40;
}
