.background-shade-100{background:#F8F9FA;}
.background-color-shade-100{background-color:#F8F9FA;}
.color-shade-100{color:#F8F9FA;}
.background-shade-200{background:#E9ECEF;}
.background-color-shade-200{background-color:#E9ECEF;}
.color-shade-200{color:#E9ECEF;}
.background-shade-300{background:#DEE2E6;}
.background-color-shade-300{background-color:#DEE2E6;}
.color-shade-300{color:#DEE2E6;}
.background-shade-400{background:#CED4DA;}
.background-color-shade-400{background-color:#CED4DA;}
.color-shade-400{color:#CED4DA;}
.background-shade-500{background:#ADB5BD;}
.background-color-shade-500{background-color:#ADB5BD;}
.color-shade-500{color:#ADB5BD;}
.background-shade-600{background:#6C757D;}
.background-color-shade-600{background-color:#6C757D;}
.color-shade-600{color:#6C757D;}
.background-shade-700{background:#495057;}
.background-color-shade-700{background-color:#495057;}
.color-shade-700{color:#495057;}
.background-shade-800{background:#343A40;}
.background-color-shade-800{background-color:#343A40;}
.color-shade-800{color:#343A40;}
.background-shade-900{background:#212529;}
.background-color-shade-900{background-color:#212529;}
.color-shade-900{color:#212529;}
.background-text-link-normal-100{background:#0000EE;}
.background-color-text-link-normal-100{background-color:#0000EE;}
.color-text-link-normal-100{color:#0000EE;}
.background-text-link-visited-100{background:#551A8B;}
.background-color-text-link-visited-100{background-color:#551A8B;}
.color-text-link-visited-100{color:#551A8B;}
.background-text-link-active-100{background:#EE0000;}
.background-color-text-link-active-100{background-color:#EE0000;}
.color-text-link-active-100{color:#EE0000;}
.background-text-heading-100{background:#212529;}
.background-color-text-heading-100{background-color:#212529;}
.color-text-heading-100{color:#212529;}
.background-text-heading-200{background:#343A40;}
.background-color-text-heading-200{background-color:#343A40;}
.color-text-heading-200{color:#343A40;}
.background-text-p-100{background:#212529;}
.background-color-text-p-100{background-color:#212529;}
.color-text-p-100{color:#212529;}
.background-text-p-200{background:#343A40;}
.background-color-text-p-200{background-color:#343A40;}
.color-text-p-200{color:#343A40;}
