.badge-container-border-normal {
  border: 1px solid var(--shade-300);
}

.badge-container-border-active {
  border: 1px solid var(--shade-900);
}

.badge-container {
  width: fit-content;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.badge-check-svg {
  margin-right: 8px;
  vertical-align: middle;
}
