.select-input-container {
  width: fit-content;
  min-width: 90px;
  background-color: var(--shade-200);
  border: 1px solid var(--shade-400);
  cursor: pointer;
}

.select-input-container:hover {
  background-color: var(--shade-300);
  border: 1px solid var(--shade-500);
}

.select-input-container:active {
  border: 1px solid var(--shade-600);
}
