.badge-selection-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.badge-selection-container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
