.input {
  width: fit-content;
  min-width: 268px;
  background-color: var(--shade-200);
  border: 1px solid var(--shade-400);
  cursor: pointer;
  margin-top: var(--spacing-200);
  border-radius: var(--border-radius-300);
  padding: var(--spacing-200);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input:hover {
  cursor: pointer;
  background-color: var(--shade-300);
  border: 1px solid var(--shade-500);
}

.input:active {
  border: 1px solid var(--shade-600);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.input-label {
  font-weight: 300;
}
