.spectrum-link {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spectrum-link img {
  margin-right: var(--spacing-100);
}

.spectrum-link:visited {
  color: var(--text-link-visited-100);
}

.spectrum-link:active {
  color: var(--text-link-active-100);
}
