.heading-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  min-width: 100%;
  padding-left: var(--spacing-200);
  background-color: black;
}

.heading-container span {
  font-weight: 900;
}
